page-list {
    ion-navbar {
        background: #37AA1C;
    }
    .toolbar-background {
        background: transparent;
    }
    .toolbar-title {
        color: #ffffff;
        font-size: 14px !important;
    }
    .back-button {
        color: #ffffff!important;
    }
    ion-icon {
        font-size: 1em !important;
        padding-right: 5px;
    }
}
